<html>
	<title>File uploads</title>
	<body>
		<h2>File uploads</h2>
		<form method="POST" enctype="multipart/form-data" action="">
			File to upload: <input type="file" name="fileup"><br>
			<input type="submit" value="Upload files now.">
		</form>

		<h3>Files:</h3>
		{{#files}}{{name}}<br>{{/files}}
        
        
        <br><br>
        <h3>Download File:</h3>
		 {{#files}}
		 
		 <select class="selectpicker">
			 <option>{{name}}</option>
		 </select>
		<form action="download/{{name}}" method="post">
			<input name="fileName" type="submit" value="Download file now." type="text" >
				</form>
		
		 <br><br>
		
	{{/files}}
	</body>
</html>
